*{
    padding: 0;
    margin: 0;
    list-style-type: none;
}
body{
    font-size: 16px;
    line-height: 1.6;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
}
div{
    display: block;
}
a{
    text-decoration: none;
}
a:-webkit-any-link {
    color: #999;
    cursor: pointer;
}
h4{
    color: #666;
}
label{
    display: contents;
}
input{
    display: none;
}
.clbd{
    display: none;
}
.bdyl{
    display: none;
}
.cklc{
    display: none;
}
#clbd:checked ~ .clbd{
    display: block;
}
#bdyl:checked ~ .bdyl{
    display: block;
}
#cklc:checked ~ .cklc{
    display: block;
}
#clbd:checked ~ .navbar label[for="clbd"] a{
    color: #2FA1DB;
    border-bottom: 3px solid #2FA1DB;
}
#bdyl:checked ~ .navbar label[for="bdyl"] a{
    color: #2FA1DB;
    border-bottom: 3px solid #2FA1DB;
}
#cklc:checked ~ .navbar label[for="cklc"] a{
    color: #2FA1DB;
    border-bottom: 3px solid #2FA1DB;
}